/bootstrap/compiled.php
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
/nbproject/private/
/app/config/*
/public/assets/
/public/filemanager/
/public/filemanager.thumbs/
/public/packages/
/storage/*
/vendor